<div class="about row">

    <div class="col-md-8">

        <h3 class="about-title">关于我</h3>

        <p>{{ site.description }}</p>

        <h3 class="about-title">联系方式</h3>

        <ul>
            <li><span>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></span></li>
            <li><span>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></span></li>
        </ul>

        {% include open-source.html %}

        <script>
            audiojs.events.ready(function() {
                var as = audiojs.createAll();
            });
        </script>

        <!-- 歌曲 -->
        {% include song.html %}

        <p id="poem-daily"></p>

        <!-- Comments -->
        {% include comments.html %}

    </div>

</div>
