<div class="about row">

    <div class="col-md-8">

        <h3 class="about-title">关于我</h3>

        <p class="description">BlaBlaBla BlaBlaBla BlaBlaBla BlaBlaBla BlaBlaBla BlaBlaBla BlaBlaBla BlaBlaBla</p>

        <h3 class="about-title">联系方式</h3>

        <ul>
            <li style="font-size: 16px;">Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li style="font-size: 16px; margin-top: 6px;word-break : break-all; word-wrap: break-word;">Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

        {% include open-source.html %}

        <h3 class="about-title">职业技能</h3>

        {% if site.skill_software_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Software Engineer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_software_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <p id="poem-daily"></p>

        <!-- Comments -->
        {% include comments.html %}

    </div>

</div>
