<div class="pagination text-align" style="width: 100%; text-align: center;">
    <div class="paginator-group">

        {% if paginator.total_pages > 1 %}

            {% if paginator.page > 1 %}
                {% if paginator.page == 2 %}
                    <a href="/" class="paginator-nav paginator-prepage"><</a>
                {% else %}
                    <a href="/page{{paginator.page|minus:1}}" class="paginator-nav paginator-prepage"><</a>
                {%endif%}
            {% endif %}

            {% for count in (1..4) reversed %}
                {% assign page = {{paginator.page|minus:count}}%}
                {% if page > 0 %}
                    {% if page == 1%}
                        <a href="/" class="paginator-nav paginator-pagenum paginator-online">{{page}}</a>
                    {% else %}
                        <a href="/page{{page}}" class="paginator-nav paginator-pagenum paginator-online">{{page}}</a>
                    {%endif%}
                {% endif %}
            {% endfor %}

            <span class="paginator-nav paginator-pagenum paginator-online">{{paginator.page}}</span>

            {% for count in (1..4) %}
                {% assign page = {{paginator.page|plus:count}} %}
                {% if page <= paginator.total_pages %}
                    {% if page == 1%}
                        <a href="/" class="paginator-nav paginator-pagenum paginator-online">{{page}}</a>
                    {% else %}
                        <a href="/page{{page}}" class="paginator-nav paginator-pagenum paginator-online">{{page}}</a>
                    {%endif%}
                {% endif %}
            {% endfor %}

            {% if paginator.page < {{paginator.total_pages}} %}
                <a href="/page{{paginator.page|plus:1}}" class="paginator-nav paginator-nextpage">></a>
            {% endif %}

        {% endif %}

    </div>
</div>
