* {
    margin: 0;
    padding: 0;
}

/** Header **/
.site-header{
    padding-top:20px;
    padding-bottom:20px;
    width: 100%;
    position: fixed;
    margin: 40px 0 30px 0;
    top: 0;
    left: 0 !important;
    right: 0;
    z-index: 103;

    color: #000;
    background: #fff;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.site-header #site-header-brand {
    color: #2e2e2e;
    float: left;
}

.site-header a {
    text-decoration: none;
}

.site-header a:hover {
    color: #4183c4;
}

#site-header-brand, #site-header-brand .octicon {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 38px;
    font-weight: 400;
    line-height: 38px;
}

#site-header-brand, #site-header-brand .iconfont {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 42px;
    font-weight: 400;
    line-height: 42px;
}

.site-header-nav{
    float:right;
    margin-bottom: -20px;
}

.site-header-nav-item {
    color: #000;
    display:inline-block;
    padding:10px;
    margin-left:1.25rem;
    font-size: 20px;
}

/******* Scroll Start *******/
.site-header {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.site-header.site-header-nav-scrolled {
    margin: 0;
    background-color: white;
    -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}
/******* Scroll End *******/

/** Jumbotron **/
.jumbotron {
    padding-top: 200px;
    padding-bottom: 60px;
    color: #fff;
}

.jumbotron a {
    color: #fff;
    text-decoration: none;
}

.jumbotron #jumbotron-meta-info {
    margin-top: 10px;
    line-height: 36px;
}

.jumbotron .meta-info {
    font-size: 18px;
    margin-right: 20px;
}

.jumbotron.meta-info, .jumbotron .meta-info .octicon {
    font-size: 18px;
}

/** Footer **/
.site-footer{
    position:relative;
    margin-top:40px;
    padding:40px 0;
    font-size:12px;
    line-height:1.5;
    color:#777;
    z-index: -1;
    border-top:2px solid #eee
}

.site-footer .octicon-mark-github {
    position: absolute;
    left: 50%;
    color: #ccc;
}

.site-footer .octicon-mark-github:hover {
    color:#bbb;
}

/** Post List **/
.post-list-item {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
    border-bottom: 1px solid #eee;
}

.post-list-title a {
    text-decoration: none;
    line-height: 1.3;
}

.post-list-description {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.4;
    color: #666;
}

.post-list-meta {
    margin-top: 8px;
    margin-bottom: 0;
    color: #888;
}

.post-list-meta, .post-list-meta.octicon {
    font-size: 18px;
}

.geopattern {
    background-size: contain; /* To fix strange behavior when zoom in/out */
}

.sidebar-title {
    text-align: center;
}

hr {
    height: 2px;
    border: none;
    background-color: #dbf4f7;
}

.jumbotron .container {
    line-height: 120px;
    height: 120px;
}

.page-meta-title {
    color: #b5ffff;
}

.post .row .markdown-body {
    padding-top: 20px;
}

.post .row .markdown-body hr {
    height: 3px;
    margin: 16px 0;
    background-color: #dbf4f7;
    border: 0 none;
}

.post-detail-header #jumbotron-meta-info .meta-info {
    line-height: 60px;
}

/*文章详情的标题*/
.post-detail-header .container #jumbotron-meta-info h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.post-detail-header .jumbotron .container {
    line-height: 120px;
    height: auto;
    min-height: 120px;
    padding-bottom: 8px;
}

.post-directory-module {
    overflow-y: visible;
}

/*诗歌的样式*/
#poem-daily {
    text-align: center;
    text-indent: 0;
}

.poem-title {
    font-size: 150%;
    color: #323232;
}

.poem-author {
    color: #323232;
    margin-left: 100px;
    line-height: 240%;
}

.poem-content {
    color: #323232;
    line-height: 180%;
    align-self: center;
    align-content: center;
}

.paginator-group {
    text-align: center;
    vertical-align: middle;
}

.paginator-nav {
    padding-left: 4px;
    padding-right: 4px;
}

.paginator-pagenum {
    font-size: 16px;
}

.paginator-outline {
    color: #323232;
}

.paginator-prepage {
    text-decoration: none;
    color: #00BCD4;
    font-size: 24px;
    margin-right: 8px;
}

.paginator-prepage:link {
    text-decoration: none;
    color: #00BCD4;
}

.paginator-prepage:visited {
    text-decoration: none;
    color: #00BCD4;
}

.paginator-prepage:hover {
    text-decoration: none;
    color: #0097A7;
}

.paginator-prepage:active {
    text-decoration: none;
    color: #00BCD4;
}

.paginator-nextpage {
    text-decoration: none;
    color: #00BCD4;
    font-size: 24px;
    margin-left: 8px;
}

.paginator-nextpage:link {
    text-decoration: none;
    color: #00BCD4;
}

.paginator-nextpage:visited {
    text-decoration: none;
    color: #00BCD4;
}

.paginator-nextpage:hover {
    text-decoration: none;
    color: #0097A7;
}

.paginator-nextpage:active {
    text-decoration: none;
    color: #00BCD4;
}

.post-detail-directory {
    z-index: 9000;
}


/*屏幕适配*/
/*页面可见区域宽度小于1000 ～ */
@media screen and (max-width: 1000px) {
    /*文章详情的目录*/
    .post-detail-directory {
        display: none;
    }
}

/*801 ～ */
@media screen and (min-device-width: 801px) {
    .about p, .about span {
        font-size: 1.2em;
    }
}

/*711 ～ 800*/
@media screen and (min-device-width: 711px) and (max-device-width :801px) {
    /*h2标题*/
    h2 {
        font-size: 34px;
    }
    /*h3标题*/
    h3 {
        font-size: 30px;
    }
    /*h4标题*/
    h4 {
        font-size: 26px;
    }
    /*p、span标签*/
    p, span {
        font-size: 24px;
    }

    /*Header底部纯色区域*/
    .jumbotron {
        padding-top: 100px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    /*顶部栏*/
    .site-header {
        height: 78px;
        padding-top: 3px;
        margin: 0;
    }
    /*网站标题栏*/
    #site-header-brand {
        line-height: 72px;
    }
    /*网站的标题图标*/
    #site-header-brand .iconfont {
        font-size: 38px;
    }
    /*网站的标题文字*/
    #site-header-brand .site-header-sitename {
        font-size: 34px;
    }
    /*导航菜单*/
    .site-header-nav-item {
        margin-left: 0.6rem;
        font-size: 36px;
    }

    /*Header标题和副标题的div*/
    .jumbotron .container {
        line-height: 150px;
        height: 150px;
    }
    /*Header标题的文字*/
    .content .jumbotron .container .page-meta-title {
        font-size: 38px;
    }
    /*Header副标题的图标*/
    .content .jumbotron .container .octicon {
        font-size: 30px;
    }
    /*Header副标题的文字*/
    .content .jumbotron .container .meta-info {
        font-size: 28px;
    }

    /*首页*/
    /*首页文章列表item*/
    .post-list-item {
        padding-top: 16px;
        padding-bottom: 24px;
    }
    /*首页文章列表的标题*/
    .post-list-title {
        font-size: 34px;
    }
    /*首页文章列表的日期、tag*/
    .post-list-meta {
        font-size: 24px;
    }
    /*首页文章列表的内容*/
    .post-list-description {
        font-size: 26px;
    }

    /*文章详情页面*/
    /*文章详情的标题*/
    .post-detail-header .container #jumbotron-meta-info h2 {
        font-size: 32px;
    }
    /*文章详情正文h2标题的大小*/
    .post .row .markdown-body h2 {
        font-size: 34px;
    }
    /*文章详情正文h3标题的大小*/
    .post .row .markdown-body h3 {
        font-size: 30px;
    }
    /*文章详情正文的字体大小*/
    .post .row .markdown-body p {
        font-size: 24px;
    }
    /*文章详情正文的代码文字大小*/
    .post .row .markdown-body code span {
        font-size: 20px;
    }
    /*文章详情的目录*/
    .post-detail-directory {
        display: none;
    }
}

/*601 ～ 710*/
@media screen and (min-device-width: 601px) and (max-device-width :711px) {
    /*h2标题*/
    h2 {
        font-size: 32px;
    }
    /*h3标题*/
    h3 {
        font-size: 28px;
    }
    /*h4标题*/
    h4 {
        font-size: 24px;
    }
    /*p、span标签*/
    p, span {
        font-size: 22px;
    }

    /*Header底部纯色区域*/
    .jumbotron {
        padding-top: 100px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    /*顶部栏*/
    .site-header {
        height: 72px;
        padding-top: 2px;
        margin: 0;
    }
    /*网站标题栏*/
    #site-header-brand {
        line-height: 70px;
    }
    /*网站的标题图标*/
    #site-header-brand .iconfont {
        font-size: 36px;
    }
    /*网站的标题文字*/
    #site-header-brand .site-header-sitename {
        font-size: 32px;
    }
    /*导航菜单*/
    .site-header-nav-item {
        margin-left: 0.6rem;
        font-size: 34px;
    }

    /*Header标题和副标题的div*/
    .jumbotron .container {
        line-height: 140px;
        height: 140px;
    }
    /*Header标题的文字*/
    .content .jumbotron .container .page-meta-title {
        font-size: 36px;
    }
    /*Header副标题的图标*/
    .content .jumbotron .container .octicon {
        font-size: 28px;
    }
    /*Header副标题的文字*/
    .content .jumbotron .container .meta-info {
        font-size: 26px;
    }

    /*首页*/
    /*首页文章列表item*/
    .post-list-item {
        padding-top: 16px;
        padding-bottom: 24px;
    }
    /*首页文章列表的标题*/
    .post-list-title {
        font-size: 32px;
    }
    /*首页文章列表的日期、tag*/
    .post-list-meta {
        font-size: 22px;
    }
    /*首页文章列表的内容*/
    .post-list-description {
        font-size: 24px;
    }

    /*文章详情页面*/
    /*文章详情的标题*/
    .post-detail-header .container #jumbotron-meta-info h2 {
        font-size: 30px;
    }
    /*文章详情正文h2标题的大小*/
    .post .row .markdown-body h2 {
        font-size: 32px;
    }
    /*文章详情正文h3标题的大小*/
    .post .row .markdown-body h3 {
        font-size: 28px;
    }
    /*文章详情正文的字体大小*/
    .post .row .markdown-body p {
        font-size: 22px;
    }
    /*文章详情正文的代码文字大小*/
    .post .row .markdown-body code span {
        font-size: 18px;
    }
    /*文章详情的目录*/
    .post-detail-directory {
        display: none;
    }
}

/*539 ～ 601*/
@media screen and (min-device-width: 539px) and (max-device-width :601px){
    /*h2标题*/
    h2 {
        font-size: 30px;
    }
    /*h3标题*/
    h3 {
        font-size: 26px;
    }
    /*h4标题*/
    h4 {
        font-size: 22px;
    }
    /*p、span标签*/
    p, span {
        font-size: 20px;
    }

    /*Header底部纯色区域*/
    .jumbotron {
        padding-top: 90px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    /*顶部栏*/
    .site-header {
        height: 66px;
        padding-top: 2px;
        margin: 0;
    }
    /*网站标题栏*/
    #site-header-brand {
        line-height: 60px;
    }
    /*网站的标题图标*/
    #site-header-brand .iconfont {
        font-size: 32px;
    }
    /*网站的标题文字*/
    #site-header-brand .site-header-sitename {
        font-size: 28px;
    }
    /*导航菜单*/
    .site-header-nav-item {
        margin-left: 0.6rem;
        font-size: 30px;
    }

    /*Header标题和副标题的div*/
    .jumbotron .container {
        line-height: 130px;
        height: 130px;
    }
    /*Header标题的文字*/
    .content .jumbotron .container .page-meta-title {
        font-size: 32px;
    }
    /*Header副标题的图标*/
    .content .jumbotron .container .octicon {
        font-size: 24px;
    }
    /*Header副标题的文字*/
    .content .jumbotron .container .meta-info {
        font-size: 22px;
    }

    /*首页*/
    /*首页文章列表item*/
    .post-list-item {
        padding-top: 12px;
        padding-bottom: 20px;
    }
    /*首页文章列表的标题*/
    .post-list-title {
        font-size: 28px;
    }
    /*首页文章列表的日期、tag*/
    .post-list-meta {
        font-size: 20px;
    }
    /*首页文章列表的内容*/
    .post-list-description {
        font-size: 22px;
    }

    /*文章详情页面*/
    /*文章详情页面Header*/
    .post-detail-header .jumbotron .container {
        padding-bottom: 0px;
    }
    /*文章详情的标题*/
    .post-detail-header .container #jumbotron-meta-info h2 {
        font-size: 28px;
    }
    /*文章详情正文h2标题的大小*/
    .post .row .markdown-body h2 {
        font-size: 30px;
    }
    /*文章详情正文h3标题的大小*/
    .post .row .markdown-body h3 {
        font-size: 26px;
    }
    /*文章详情正文的字体大小*/
    .post .row .markdown-body p {
        font-size: 20px;
    }
    /*文章详情正文的代码文字大小*/
    .post .row .markdown-body code span {
        font-size: 16px;
    }
    /*文章详情的目录*/
    .post-detail-directory {
        display: none;
    }
}

/*461 ～ 539*/
@media screen and (min-device-width: 461px) and (max-device-width: 539px) {
    /*h2标题*/
    h2 {
        font-size: 28px;
    }
    /*h3标题*/
    h3 {
        font-size: 24px;
    }
    /*h4标题*/
    h4 {
        font-size: 20px;
    }
    /*p、span标签*/
    p, span {
        font-size: 18px;
    }

    /*Header底部纯色区域*/
    .jumbotron {
        padding-top: 80px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    /*顶部栏*/
    .site-header {
        height: 60px;
        padding-top: 3px;
        margin: 0;
    }
    /*网站标题栏*/
    #site-header-brand {
        line-height: 48px;
    }
    /*网站的标题图标*/
    #site-header-brand .iconfont {
        font-size: 26px;
    }
    /*网站的标题文字*/
    #site-header-brand .site-header-sitename {
        font-size: 22px;
    }
    /*导航菜单*/
    .site-header-nav-item {
        margin-left: 0.6rem;
        font-size: 24px;
    }

    /*Header标题和副标题的div*/
    .jumbotron .container {
        line-height: 120px;
        height: 120px;
    }
    /*Header标题的文字*/
    .content .jumbotron .container .page-meta-title {
        font-size: 30px;
    }
    /*Header副标题的图标*/
    .content .jumbotron .container .octicon {
        font-size: 22px;
    }
    /*Header副标题的文字*/
    .content .jumbotron .container .meta-info {
        font-size: 20px;
    }

    /*首页*/
    /*首页文章列表item*/
    .post-list-item {
        padding-top: 8px;
        padding-bottom: 20px;
    }
    /*首页文章列表的标题*/
    .post-list-title {
        font-size: 24px;
    }
    /*首页文章列表的日期、tag*/
    .post-list-meta {
        font-size: 16px;
    }
    /*首页文章列表的内容*/
    .post-list-description {
        font-size: 18px;
    }

    /*文章详情页面*/
    /*文章详情页面Header*/
    .post-detail-header .jumbotron .container {
        padding-bottom: 0px;
    }
    /*文章详情的标题*/
    .post-detail-header .container #jumbotron-meta-info h2 {
        font-size: 26px;
    }
    /*文章详情正文h2标题的大小*/
    .post .row .markdown-body h2 {
        font-size: 28px;
    }
    /*文章详情正文h3标题的大小*/
    .post .row .markdown-body h3 {
        font-size: 24px;
    }
    /*文章详情正文的字体大小*/
    .post .row .markdown-body p {
        font-size: 18px;
    }
    /*文章详情正文的代码文字大小*/
    .post .row .markdown-body code span {
        font-size: 16px;
    }
    /*文章详情的目录*/
    .post-detail-directory {
        display: none;
    }
}

/*411 ～ 461*/
@media screen and (min-device-width: 411px) and (max-device-width: 461px) {
    /*h2标题*/
    h2 {
        font-size: 26px;
    }
    /*h3标题*/
    h3 {
        font-size: 22px;
    }
    /*h4标题*/
    h4 {
        font-size: 18px;
    }
    /*p、span标签*/
    p, span {
        font-size: 16px;
    }

    /*Header底部纯色区域*/
    .jumbotron {
        padding-top: 70px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    /*顶部栏*/
    .site-header {
        height: 52px;
        padding-top: 2px;
        margin: 0;
    }
    /*网站标题栏*/
    #site-header-brand {
        line-height: 40px;
    }
    /*网站的标题图标*/
    #site-header-brand .iconfont {
        font-size: 24px;
    }
    /*网站的标题文字*/
    #site-header-brand .site-header-sitename {
        font-size: 20px;
    }
    /*导航菜单*/
    .site-header-nav-item {
        margin-left: 0.5rem;
        font-size: 20px;
    }

    /*Header标题和副标题的div*/
    .jumbotron .container {
        line-height: 110px;
        height: 110px;
    }
    /*Header标题的文字*/
    .content .jumbotron .container .page-meta-title {
        font-size: 28px;
    }
    /*Header副标题的图标*/
    .content .jumbotron .container .octicon {
        font-size: 20px;
    }
    /*Header副标题的文字*/
    .content .jumbotron .container .meta-info {
        font-size: 18px;
    }

    /*首页*/
    /*首页文章列表item*/
    .post-list-item {
        padding-top: 4px;
        padding-bottom: 16px;
    }
    /*首页文章列表的标题*/
    .post-list-title {
        font-size: 22px;
    }
    /*首页文章列表的日期、tag*/
    .post-list-meta {
        font-size: 14px;
    }
    /*首页文章列表的内容*/
    .post-list-description {
        font-size: 16px;
    }

    /*文章详情页面*/
    /*文章详情的标题*/
    .post-detail-header .container #jumbotron-meta-info h2 {
        font-size: 24px;
    }
    /*文章详情正文h2标题的大小*/
    .post .row .markdown-body h2 {
        font-size: 24px;
    }
    /*文章详情正文h3标题的大小*/
    .post .row .markdown-body h3 {
        font-size: 20px;
    }
    /*文章详情正文的字体大小*/
    .post .row .markdown-body p {
        font-size: 16px;
    }
    /*文章详情正文的代码文字大小*/
    .post .row .markdown-body code span {
        font-size: 14px;
    }
    /*文章详情的目录*/
    .post-detail-directory {
        display: none;
    }
    .post-detail-header .jumbotron .container {
        padding-bottom: 0px;
    }
}

/*0 ～ 411*/
@media screen and (max-device-width: 411px) {
    /*h2标题*/
    h2 {
        font-size: 24px;
    }
    /*h3标题*/
    h3 {
        font-size: 20px;
    }
    /*h4标题*/
    h4 {
        font-size: 16px;
    }
    /*p、span标签*/
    p, span {
        font-size: 16px;
    }

    /*Header底部纯色区域*/
    .jumbotron {
        padding-top: 60px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    /*顶部栏*/
    .site-header {
        height: 48px;
        padding-top: 3px;
        margin: 0;
    }
    /*网站标题栏*/
    #site-header-brand {
        display: none;
        line-height: 40px;
    }
    /*网站的标题图标*/
    #site-header-brand .iconfont {
        font-size: 22px;
    }
    /*网站的标题文字*/
    #site-header-brand .site-header-sitename {
        font-size: 18px;
    }
    /*导航菜单*/
    .site-header-nav-item {
        margin-left: 0.6rem;
        font-size: 18px;
    }

    /*Header标题和副标题的div*/
    .jumbotron .container {
        line-height: 100px;
        height: 100px;
    }
    /*Header标题的文字*/
    .content .jumbotron .container .page-meta-title {
        font-size: 26px;
    }
    /*Header副标题的图标*/
    .content .jumbotron .container .octicon {
        font-size: 18px;
    }
    /*Header副标题的文字*/
    .content .jumbotron .container .meta-info {
        font-size: 16px;
    }

    /*首页*/
    /*首页文章列表item*/
    .post-list-item {
        padding-top: 0px;
        padding-bottom: 10px;
    }
    /*首页文章列表的标题*/
    .post-list-title {
        font-size: 18px;
    }
    /*首页文章列表的日期、tag*/
    .post-list-meta {
        font-size: 14px;
    }
    /*首页文章列表的内容*/
    .post-list-description {
        font-size: 16px;
    }

    /*文章详情页面*/
    /*文章详情的标题*/
    .post-detail-header .container #jumbotron-meta-info h2 {
        font-size: 20px;
    }
    /*文章详情正文h2标题的大小*/
    .post .row .markdown-body h2 {
        font-size: 22px;
    }
    /*文章详情正文h3标题的大小*/
    .post .row .markdown-body h3 {
        font-size: 18px;
    }
    /*文章详情正文的字体大小*/
    .post .row .markdown-body p {
        font-size: 16px;
    }
    /*文章详情正文的代码文字大小*/
    .post .row .markdown-body code span {
        font-size: 12px;
    }
    /*文章详情的目录*/
    .post-detail-directory {
        display: none;
    }
    .post-detail-header .jumbotron .container {
        min-height: 100px;
        line-height: 100px;
        padding-bottom: 0px;
    }
    .posts-list-name {
        font-size: 14px;
    }
}
