/** Only for poem **/

#poem-daily {
    text-align: center;
    text-indent: 0;
}

.poem-title {
    color: #323232;
    font-size: 24px;
}

.poem-author {
    color: #323232;
    font-size: 16px;
    margin-left: 100px;
    line-height: 240%;
}

.poem-content {
    color: #323232;
    font-size: 16px;
    line-height: 180%;
    align-self: center;
    align-content: center;
}
