.jumbotron .container {
    line-height: 120px;
    height: auto;
    min-height: 120px;
}

#jumbotron-meta-info .meta-info {
    line-height: 50px;
}

.markdown-body hr {
    height: 3px;
    margin: 16px 0;
    background-color: #dbf4f7;
    border: 0 none;
}
