---
layout: default
css: ['sidebar-post-nav.css']
---
<div class="post-detail-header">
    {% include jumbotron.html %}
</div>

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="row">

        <div class="col-md-8 markdown-body">

            {{ content }}

            <!-- Comments -->
            {% include comments.html %}
        </div>

        <div class="col-md-4 post-detail-directory">
            {% include sidebar-post-nav.html %}
        </div>

    </div>

</article>
